<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
          <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
          <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="theFormGroup">
            <div class="container">
              <div class="row">
                <div class="col-4">Id:</div>
                <div class="col-8">
                  {{ message.id }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">User_id:</div>
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="message.user_id"
                    [disabled]="mode == 1"
                    formControlName="user_id"
                  />
                  <div
                    *ngIf="
                      getTheFormGroup.user_id.errors &&
                      (getTheFormGroup.user_id.dirty ||
                        getTheFormGroup.user_id.touched ||
                        trysend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.user_id.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">ChatRoom_id:</div>
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="message.chat_room_id"
                    [disabled]="mode == 1 || 3"
                    formControlName="chat_room_id"
                  />
                  <div
                    *ngIf="
                      getTheFormGroup.chat_room_id.errors &&
                      (getTheFormGroup.chat_room_id.dirty ||
                        getTheFormGroup.chat_room_id.touched ||
                        trysend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.chat_room_id.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">Mensaje:</div>
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="message.message"
                    [disabled]="mode == 1"
                    formControlName="message"
                  />
                  <div
                    *ngIf="
                      getTheFormGroup.message.errors &&
                      (getTheFormGroup.message.dirty ||
                        getTheFormGroup.message.touched ||
                        trysend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.message.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-4">Fecha:</div>
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="message.date"
                    [disabled]="mode == 1"
                    formControlName="date"
                  />
                  <div
                    *ngIf="
                      getTheFormGroup.date.errors &&
                      (getTheFormGroup.date.dirty ||
                        getTheFormGroup.date.touched ||
                        trysend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.date.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-4">Status:</div>
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="message.status"
                    [disabled]="mode == 1"
                    formControlName="status"
                  />
                  <div
                    *ngIf="
                      getTheFormGroup.status.errors &&
                      (getTheFormGroup.status.dirty ||
                        getTheFormGroup.status.touched ||
                        trysend)
                    "
                  >
                    <strong
                      *ngIf="getTheFormGroup.status.errors.max"
                      class="msnError"
                      >El número debe ser 0 o 1</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.status.errors.min"
                      class="msnError"
                      >El número debe ser 0 o 1</strong
                    >
                    <strong
                      *ngIf="getTheFormGroup.status.errors.required"
                      class="msnError"
                      >Requerido</strong
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                  <button
                    *ngIf="mode == 2"
                    class="btn btn-primary btn-block"
                    (click)="create()"
                  >
                    Crear
                  </button>
                  <button
                    *ngIf="mode == 3"
                    class="btn btn-primary btn-block"
                    (click)="update()"
                  >
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
