<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div style="display: flex; justify-content: space-between">
            <div class="col-3">
              <h3 class="mb-0">Membresías</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <button type="button" class="btn btn-success" (click)="create()">
                Crear
              </button>
              <button
                type="button"
                class="btn btn-success"
                (click)="customers()"
              >
                Clientes
              </button>
              <button type="button" class="btn btn-success" (click)="plans()">
                Planes
              </button>
            </div>
          </div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-1">ID</th>
                  <th class="col-3">Nombre</th>
                  <th class="col-3">Customer_id</th>
                  <th class="col-3">Plan_id</th>
                  <th class="col-3">status</th>
                  <th class="col-5">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of membership">
                  <td>{{ actual.id }}</td>
                  <td>{{ actual.name }}</td>
                  <td>{{ actual.customer_id }}</td>
                  <td>{{ actual.plan_id }}</td>
                  <td>{{ actual.status }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="view(actual.id)"
                    >
                      Ver
                    </button>
                    <button
                      type="button"
                      class="btn btn-warning"
                      (click)="update(actual.id)"
                    >
                      Editar
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="delete(actual.id)"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
