<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios en Ejecución</title>
  </head>
  <body>
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div style="display: flex; justify-content: space-between">
                <div class="col-3">
                  <h3 class="mb-0 small-text">Servicios en Ejecución</h3>
                </div>
                <div class="col-3"></div>
                <div class="col-5">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="create()"
                  >
                    Crear
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="services()"
                  >
                    Servicios
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="customers()"
                  >
                    Clientes
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="drivers()"
                  >
                    Conductores
                  </button>
                </div>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="col-1">ID</th>
                      <th class="col-3">service_id</th>
                      <th class="col-3">customer_id</th>
                      <th class="col-3">driver_id</th>
                      <th class="col-3">room_id</th>
                      <th class="col-3">main_office</th>
                      <th class="col-3">location</th>
                      <th class="col-3">status</th>
                      <th class="col-5">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let actual of serviceExecution">
                      <td>{{ actual.id }}</td>
                      <td>{{ actual.service_id }}</td>
                      <td>{{ actual.customer_id }}</td>
                      <td>{{ actual.driver_id }}</td>
                      <td>{{ actual.room_id }}</td>
                      <td>{{ actual.main_office }}</td>
                      <td>{{ actual.location }}</td>
                      <td>{{ actual.status }}</td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="view(actual.id)"
                        >
                          Ver
                        </button>
                        <button
                          type="button"
                          class="btn btn-warning"
                          (click)="update(actual.id)"
                        >
                          Editar
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="delete(actual.id)"
                        >
                          Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .small-text {
      font-size: 18px;
    }
    .table {
      font-size: 14px;
    }
    .table th,
    .table td {
      font-size: 9px;
    }
    .btn {
      font-size: 12px;
    }
  </style>
</html>
